includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
    level: 10
    checkUninitializedProperties: true
    checkImplicitMixed: true
    rememberPossiblyImpureFunctionValues: false
    paths:
        - src
